/* for printing */
.printer-only.printer-only-header,
.printer-only.printer-only-footer {
    display: none;
}

@media print {
    .printer-only.printer-only-header,
    .printer-only.printer-only-footer {
        display: flex;
        flex-direction: row;
        width: 100%;
        position: fixed;
        left: 0;
    }

    .printer-only.printer-only-header {
        border-bottom: 4px solid black;
        top: 0;
    }

    .printer-only.printer-only-footer {
        border-top: 4px solid black;
        bottom: 0;
    }

    .printer-only.printer-only-header .printer-only-time-stamp,
    .printer-only.printer-only-header .printer-only-user,
    .printer-only.printer-only-footer .printer-only-time-stamp,
    .printer-only.printer-only-footer .printer-only-user {
        flex: 1;
        padding-top: 26px;
    }

    .printer-only.printer-only-header .printer-only-user,
    .printer-only.printer-only-footer .printer-only-user {
        flex: 1;
        padding-left: 50px;
    }

    .printer-only.printer-only-thead,
    .printer-only.printer-only-tfoot {
        height: 91px;
    }
}

@media print {
    @page {
        size: A4;
        margin-right: 9.5mm;
        margin-left: 10mm;
        margin-top: 10mm;
        margin-bottom: 10mm;
    }
}

/* common styles for all reports */
.top {
    border-top: 1px solid #000 !important;
}

.bottom {
    border-bottom: 1px solid #000 !important;
}

.left {
    border-left: 1px solid #000 !important;
}

.right {
    border-right: 1px solid #000 !important;
}

.all {
    border-top: 1px solid #000 !important;
    border-bottom: 1px solid #000 !important;
    border-left: 1px solid #000 !important;
    border-right: 1px solid #000 !important;
}

.font1 {
    font-family: serif;
}

.float-right {
    float: right !important;
}

.bold {
    font-weight: bold;
}

.no-padding {
    padding: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.no-padding-top {
    padding-top: 0 !important;
}

.group div {
    display: inline-block;
}

.sub-head {
    font-style: italic;
    text-decoration: underline;
}

.indent {
    margin-left: 20px;
}

.block, .block1, .block2 {
    padding: 5px;
}

.table2-padding {
    padding: 1px;
}


.missing-value {
    background-color: #ffa8a1;
}

.watermark {
    font-size: 175px;
    font-weight: bold;
    opacity: 0.25;
    transform: rotate(-45deg);
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signatures {
    margin-top: 50px;
}

/* styles for pre-41*/
.pre-41 .top-thick {
    border-top: 4px solid #000 !important;
}

.pre-41 .bottom-thick {
    border-bottom: 4px solid #000 !important;
}

.pre-41 .dotted-line {
    border-bottom: 1px dotted #000;
}

.pre-41 .group, .pe-r2 .group {
    display: table;
}

.pre-41 .group div {
    display: table-cell;
    vertical-align: middle;
}

.pre-41 .bracket {
    font-family: 'Raleway', sans-serif;
}

.pre-41 .counting-hall {
    float: right;
    width: 100%;
}

.pre-41 .counting-hall div {
    display: inline-block;
    padding: 5px;
    vertical-align: middle;
}

.pre-41 .counting-hall div h3 {
    margin: 0;
}

.pre-41 .fa-caret-right, .fa-caret-left {
    font-size: 25px;
}

/* pre-all-island */
.pre-all-island .report-header span {
    display: block;
    margin-bottom: 5px;
}

/* CE-201-PV */
.CE-201-PV .group {
    display: table;
}

.CE-201-PV .group div {
    display: table-cell;
    vertical-align: middle;
}

.CE-201-PV .bracket {
    font-family: 'Raleway', sans-serif;
}

/* PRE-30-ed*/
.pre-30-ed .ed th, .ro2 th {
    text-align: center;
    height: 222px;

}

.pre-30-ed .ed th div, .ro2 .pd div {
    -moz-transform: rotate(-90.0deg); /* FF3.5+ */
    -o-transform: rotate(-90.0deg); /* Opera 10.5 */
    -webkit-transform: rotate(-90.0deg); /* Saf3.1+, Chrome */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
    margin-top: 124px;
    white-space: nowrap;
}

/* PRE-all-ed*/
.pre-all-ed .ed th {
    text-align: center;
    height: 194px;

}

.pre-all-ed .ed th div {
    -moz-transform: rotate(-90.0deg); /* FF3.5+ */
    -o-transform: rotate(-90.0deg); /* Opera 10.5 */
    -webkit-transform: rotate(-90.0deg); /* Saf3.1+, Chrome */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
    margin-top: 124px;
    white-space: nowrap;
}

/* PE-R2 */
.pe-r2 .group div {
    display: table-cell;
    vertical-align: top;
}