.tabulation-page-message {
    padding: 60px 20px 100px 20px;
    text-align: left;
    color: rgb(99, 102, 103);
    display: flex;
}

.tabulation-page-message .tabulation-page-message-content {
    flex: 1;
}